<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Fesztivál</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: lightblue;">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand"><i class="bi bi-stars"></i>Festivals</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggler">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Főoldal</a>
                    </li>
                    <li class="nav-item">
                        <a href="hozzaad.html" class="nav-link">Fesztivál hozzáad</a>
                    </li>
                    <li class="nav-item">
                        <a href="adatok.html" class="nav-link">Fesztivál adatok</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container">
    <h1>Adatbázis tartalom</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Button</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="btn-primary" style="padding: 5px; border-radius: 5px;">Törlés</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn-primary" style="padding: 5px; border-radius: 5px;">Törlés</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td><button class="btn-primary" style="padding: 5px; border-radius: 5px;">Törlés</button></td>
          </tr>
        </tbody>
      </table>
  </div>

    <footer>
        Készetette: John Doe &copy; 2024 
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>